jupyter
ipykernel
nbconvert
numpy
pandas
seaborn
matplotlib
plotly
pyarrow
boto3
botocore
pvlib
tqdm
requests
requests_cache
retry_requests
openmeteo_requests
sklearn
lightgbm
xgboost
prophet
statsmodels
